@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Stock

<h1>Sorry Product Out Of Stock at the moment !</h1>
<p>Add it to your wishlist<a class="btn btn-primary">Add To WishList</a> or add it to notify me when in stock<a class="btn btn-primary">Notify</a></p>
