



<section id="ProductsPortal">
    <div class="container">

        <a class="btn btn-color btn-lg" 
           >Search a Product</a>

        <a class="btn btn-color btn-lg" 
           >Products Table</a>

    </div>
</section>
